/**************************************
BOX-SIZING STYLE
/*************************************/

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/*********************************
Global 
/********************************/
body {
    font: 19.5px/1.5 "Arial bold", Helvetica, sans-serif;
    margin: 0%;
    padding: 0%;
    background-color: mintcream;
}

.hero {}



.hero p {

    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8), 2px 3px 2px rgba(0, 0, 0, 1);
    text-align: left;
    width: 73%;
    font-size: 22px;

}

.borderedbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2em 4em;
    padding: 3em;
    border: 3px dotted green;
}

section {
    padding: 0 1.5em 0 1.5em;
}

.flexcontainer {
    display: flex;
    justify-content: space-between;
}

img {
    max-width: 100%;

}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.button_1 {
    margin-top: .9em;
    border-radius: 20px;
    padding: .3em 1.8em;
    font-size: 1.2em;
    background: lavender;
    border: 3px solid pink;
    color: black;
}

.button_1:hover {
    color: black;
    background-color: #E7FBE7;
    border: 3px solid slateblue;
}

#mar2 {
    margin-top: 2em;

}

.button_2 {
    width: 37%;
    margin-top: .9em;
    font-size: 1.2em;
    background: lavender;
    border: 3px solid pink;
    color: black;
}

.button_2:hover {
    color: black;
    background-color: #E7FBE7;
    border: 3px solid slateblue;

}



h1 {
    font-family: "Lakki Reddy", georgia, cursive;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8), 3px 3px 2px rgba(0, 0, 0, 1);
    font-size: 55px;
}

h2 {
    border-bottom: 1px dashed coral;
    text-align: center;
    font-size: 1.7em;
}

h3 {
    text-align: center;

}

h4 {}


a {
    font-size: 1.2em;
    color: salmon;
}

a:hover {
    font-style: bold;
    color: pink;
}

.center {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    ;
}

.box {
    flex-basis: 31%;
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
}

.arrowcontainer {
    margin: 5% 40% 5% 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid black;
}




.zeropm {
    margin: 0%;
    padding: 0%;
}

/***************************
HEADER
/***************************/

header {
    display: flex;
    justify-content: space-between;
    background: #35424a;
    color: #ffffff;
    padding: 1.3em;

}

nav {}

nav a {
    line-height: 4em;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

nav li {
    display: inline;
    padding: 20px;
}

header img {
    color: white;
    max-width: 15em;
}


header img:hover {
    max-width: 14.5em;
}

header #branding h1 {
    margin: 0;
}

header nav {
    float: right;
}


header .current a {
    color: darkseagreen;
    font-weight: bold;
}

header a:hover {
    color: pink;
    font-weight: bold;
}



/************************** 
hero1 - Home 
**************************/
#hero1 {
    padding: 8%;
    height: 80vh;
    background: url('/images/elephanthero.png') no-repeat;
    background-size: cover;
    background-position: right;
    text-align: left;
    color: #ffffff;
    background-color: black;
}


/************************
hero2 - Animals 
************************/
#hero2 {
    padding: 8%;
    height: 80vh;
    background: url('/images/animalshero.png') no-repeat;
    background-size: cover;
    background-position: right;
    text-align: left;
    color: #ffffff;
    background-color: black;

}



/*****************************
hero3 - Support 
*****************************/
#hero3 {
    padding: 8%;
    height: 80vh;
    background: url('/images/supporthero.png') no-repeat;
    background-size: cover;
    background-position: center;
    text-align: left;
    color: #ffffff;
    background-color: black;

}


/* Newsletter */
#newsletter {
    padding: .5em;
    color: #ffffff;
    background: #35424a;
    margin-bottom: 4em;
}

#newsletter h2 {
    float: left;
}

#newsletter form {
    float: right;
    margin-top: 15px;
}

#newsletter input[type="email"] {
    padding: 4px;
    height: 25px;
    width: 250px;
}

#newsletter button {
    padding: 3px;
}



/*********************************
Plan Your Visit - Home 
********************************/

#PYV p {
    padding: 0% 7%;
    text-align: center;
}


#pyvbox {
    flex-direction: column;
    justify-content: space-around;
    color: black;
    background-color: aliceblue;
    border: 3px solid slateblue;

}

.cardparagraph {
    min-height: 220px;
}

.box img {
    border: 5px solid slateblue;
}


/***************************
ZOO ATTRACIONS -Home 
****************************/
#ZA {
    border-bottom: 0px solid #35424a;
    background-color: ;
    padding: 0% 8%;
}

#lion {
    border: 4px solid black;
    flex-basis: 50%;
    float: right;

}

#ZooParagraph {
    flex-basis: 50%;
}


/**************************
STAY IN THE KNOW - Home
****************************/

#STITK {
    color: black;
    padding: 5% 8%;

}


article#main-col {
    flex-basis: 65%;
    padding-right: 2em;
}


aside#sidebar {
    background: #35424a;
    color: #ffffff;
    padding: 2em;
    flex-basis: 35%;
}


aside#sidebar li {
    list-style-type: circle;
    padding-bottom: 2em;
    margin-left: 2em;
}

aside#sidebar li a {
    font-size: 1.3em;
}

.author {
    text-align: right;
    font-size: .9em;
}

/***************************
 Membership - Support
****************************/

#Membership {
    margin-bottom: 5em;

}

.box ul {
    list-style: inside;
}

.box li {
    padding: .3em;
}

#donate1 {
    min-height: 100%;
    color: white;
    border: 5px solid aquamarine;
    background-color: #35424a;
    align-items: stretch;
}


#donate2 {

    min-height: 100%;
    color: white;
    border: 5px solid pink;
    background-color: #35424a;
}


#donate3 {
    min-height: 100%;
    color: white;
    border: 5px solid lightsteelblue;
    background-color: #35424a;
}

/**************************
animalgrid - animals
*************************/




section#left {
    flex-basis: 58%;
    padding-right: 2em;
}


aside#right {
    background: #35424a;
    color: #ffffff;
    padding: 2em;
    flex-basis: 40%;
}


aside#right li {
    padding: .2em;
    list-style-type: circle;
    margin-left: 2em;
}

aside#sright li a {
    font-size: 1.3em;
}

#borderedbox1 {
    margin: 2em 5em 0 5em;
    border: 4px dotted seagreen;
    color: black;

}

#borderedbox2 {
    justify-content: center;
    border: 4px solid #35424a;
    color: white;
    background-color: #35424a;
}


#borderedbox2 {
    justify-content: center;
    border: 4px solid #35424a;
    color: white;
    background-color: #35424a;
}



#borderedbox2 ul {
    padding-left: 1em;
    padding-top: .8em;
}

#borderedbox2 li {
    padding-top: 1em;
    padding-left: .5em;
    list-style: square;
}

.animals {
    margin: 1em;
    padding: 1em;
}

.col {
    margin: 1.4em;
    color: BLACK;
    background-color: snow;
    border: 2px dotted darkseagreen;
    padding: 0 1.3em 0 1.3em;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    flex: 1;
}

}

.col img {}

/**************************************
FORM SECTION STYLES
*************************************/
.support {
    border: 3px dotted pink;
    margin: 0 11%;
    background-color: aliceblue;
    padding-bottom: 2em;

}

form.message {
    width: 100%;
    margin: 0 auto;
}

.form_group {
    margin-top: 1em;
}

form p {
    margin-bottom: 0;
}

.block_label {
    display: block;
    margin-bottom: .5em;
}

.inline_label {
    margin-right: .5em;
}

form.message #fullname,
form.message #email,
form.message #comment {
    width: 100%;
    padding: .8em;
}

form.message select {
    width: 50%;
    height: 3em;
}

textarea#comment {
    height: 15em;
}



/*********************************
footer */

footer {
    margin-top: 6em;
    float: left;
    background: aliceblue;
    color: black;
    border-top: 2px solid lightsalmon;
    padding: 0 4em 0 4em;
    width: 100%;
}

.footer-top {
    margin-bottom: 15px;
    border-bottom: 3px solid salmon;
    padding-bottom: 15px;
}

.footer-top ul {
    padding: 0;
    margin: 0;
}

.footer-top li {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}

.footer-top a {
    color: black;
}

.footer-top a:hover {
    color: #e64946;
}

.address {
    align-self: flex-start;
}


.social a {
    padding: 0% line-height: 3em;
    font-size: 2em;
    color: black;
}


.social a:hover {
    font-size: 1.8em;
    color: salmon;
}




/*///////////////////////////////////
////////////////////////////////////
Mobile/////////////////////////////*/
@media(max-width: 767px) {

    header #branding,
    header nav,
    header nav li,
    #newsletter h1,
    #newsletter form,
    #boxes .box,
    .flexcontainer,
    h1,
    article#main-col,
    aside#sidebar,
    .author,
    .hero p {
        text-align: center;
        width: 100%;
    }


    .borderedbox {
        padding: 5%;
        margin: 4%;
        flex-direction: column;
        justify-content: space-around;
    }


    .hero,
    .hero h1 {
        margin: 0%;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        justify-content: space-around;
    }

    .hero p {
        line-height: 1.4em;
        font-size: 1.2em;
        text-align: center;
        align-self: center;
    }


    .flexcontainer {
        flex-direction: column;
    }

    .box {
        flex-direction: column;
        justify-content: space-around;
        margin-top: 6%;
    }

    .box img {
        size: 3em;
    }

    .col {
        flex-basis 90%;
        width: 90%;
        padding: 1em;
        margin: 1em;
    }


    header img {
        align-self: center;
    }

    button {
        padding: 12px;
        display: block;
        width: 100%;
    }

    #button_2 {

        margin: 0 50% 0 50%;
        width: 100%;
    }

    #sidebar,
    #right {
        margin-top: 4em;
    }

    .hero button {
        width: 60%
    }


    #newsletter form input[type="email"],
    .quote input,
    .quote textarea {
        width: 100%;
        margin-bottom: 5px;
    }
